flows.json
[
    {
        "id": "03b2273591e7b1b7",
        "type": "tab",
        "label": "Motor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5331bb12.a5ac24",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "686ef641524313d2",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c8f0ebb503cecaa7",
        "type": "ui_group",
        "name": "Graphics",
        "tab": "435c5ed4bbdefc19",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "435c5ed4bbdefc19",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9e849a2fb0f21706",
        "type": "ui_tab",
        "name": "Controls",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "291b967e0275382d",
        "type": "ui_group",
        "name": "Default",
        "tab": "435c5ed4bbdefc19",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1af1f00debd496b5",
        "type": "function",
        "z": "03b2273591e7b1b7",
        "name": "M2 Function",
        "func": "/*\nreturn {\n    payload: msg.payload,\n    topic: \"test@cx_hide\"\n}\n*/\n\n\nreturn {\n    payload: (msg.payload) ? \"#ef0000\": \"#669999\",\n    topic: \"test2@cx_color\"\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 400,
        "wires": [
            [
                "64ee870787f20d8c"
            ]
        ]
    },
    {
        "id": "cfe741378e08dbc8",
        "type": "ui_switch",
        "z": "03b2273591e7b1b7",
        "name": "",
        "label": "M2 On Off",
        "tooltip": "",
        "group": "291b967e0275382d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "4dd902f9c5c03607",
                "c43dcb3927089167"
            ]
        ]
    },
    {
        "id": "64ee870787f20d8c",
        "type": "ui_template",
        "z": "03b2273591e7b1b7",
        "group": "291b967e0275382d",
        "name": "",
        "order": 3,
        "width": "10",
        "height": "10",
        "format": "<div id=\"graphics\" ng-init=\"checkSVG()\">\n\n    <!-- SVG FILE CONTENT BELOW -->\n\n\n\n\n\n\n\n    <svg viewBox=\"0 0 500 500\" xmlns=\"http://www.w3.org/2000/svg\">\n        <defs>\n            <linearGradient id=\"SVGID_1_-0\" gradientUnits=\"userSpaceOnUse\" x1=\"6.1925998\" y1=\"110.752\" x2=\"41.3284\"\n                y2=\"110.752\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                <stop offset=\"0.01\" style=\"stop-color:#669999\" id=\"stop4842-7\"></stop>\n                <stop offset=\"0.51\" style=\"stop-color:#99CCCC\" id=\"stop4844-2\"></stop>\n                <stop offset=\"1\" style=\"stop-color:#669999\" id=\"stop4846-6\"></stop>\n            </linearGradient>\n            <linearGradient id=\"SVGID_2_-1\" gradientUnits=\"userSpaceOnUse\" x1=\"6.1925998\" y1=\"103.8262\" x2=\"41.3274\"\n                y2=\"103.8262\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                <stop offset=\"0.01\" style=\"stop-color:#669999\" id=\"stop4851-1\"></stop>\n                <stop offset=\"0.51\" style=\"stop-color:#99CCCC\" id=\"stop4853-5\"></stop>\n                <stop offset=\"1\" style=\"stop-color:#669999\" id=\"stop4855-3\"></stop>\n            </linearGradient>\n            <linearGradient id=\"SVGID_3_-9\" gradientUnits=\"userSpaceOnUse\" x1=\"4.8429999\" y1=\"93.917\" x2=\"42.228802\"\n                y2=\"93.917\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                <stop offset=\"0.01\" style=\"stop-color:#669999\" id=\"stop4860-3\"></stop>\n                <stop offset=\"0.51\" style=\"stop-color:#99CCCC\" id=\"stop4862-7\"></stop>\n                <stop offset=\"1\" style=\"stop-color:#669999\" id=\"stop4864-1\"></stop>\n            </linearGradient>\n            <linearGradient id=\"SVGID_4_-3\" gradientUnits=\"userSpaceOnUse\" x1=\"5.2932\" y1=\"35.586899\" x2=\"41.7766\"\n                y2=\"35.586899\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                <stop offset=\"0.01\" style=\"stop-color:#4D4D4D\" id=\"stop4938-4\"></stop>\n                <stop offset=\"0.51\" style=\"stop-color:#F5F5F5\" id=\"stop4940-3\"></stop>\n                <stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop4942-3\"></stop>\n            </linearGradient>\n            <linearGradient id=\"SVGID_5_-5\" gradientUnits=\"userSpaceOnUse\" x1=\"4.8429999\" y1=\"45.721699\" x2=\"42.228802\"\n                y2=\"45.721699\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                <stop offset=\"0.01\" style=\"stop-color:#4D4D4D\" id=\"stop4947-2\"></stop>\n                <stop offset=\"0.51\" style=\"stop-color:#F5F5F5\" id=\"stop4949-9\"></stop>\n                <stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop4951-9\"></stop>\n            </linearGradient>\n            <linearGradient id=\"SVGID_6_-4\" gradientUnits=\"userSpaceOnUse\" x1=\"4.8429999\" y1=\"25.226601\" x2=\"42.228802\"\n                y2=\"25.226601\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                <stop offset=\"0.01\" style=\"stop-color:#4D4D4D\" id=\"stop4956-8\"></stop>\n                <stop offset=\"0.51\" style=\"stop-color:#F5F5F5\" id=\"stop4958-7\"></stop>\n                <stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop4960-5\"></stop>\n            </linearGradient>\n            <linearGradient id=\"SVGID_7_-0\" gradientUnits=\"userSpaceOnUse\" x1=\"5.2932\" y1=\"13.0645\" x2=\"41.7766\"\n                y2=\"13.0645\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                <stop offset=\"0.01\" style=\"stop-color:#4D4D4D\" id=\"stop4965-9\"></stop>\n                <stop offset=\"0.51\" style=\"stop-color:#F5F5F5\" id=\"stop4967-7\"></stop>\n                <stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop4969-6\"></stop>\n            </linearGradient>\n            <linearGradient id=\"SVGID_8_-4\" gradientUnits=\"userSpaceOnUse\" x1=\"4.8429999\" y1=\"1.1279\" x2=\"42.228802\"\n                y2=\"1.1279\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                <stop offset=\"0.01\" style=\"stop-color:#4D4D4D\" id=\"stop4974-4\"></stop>\n                <stop offset=\"0.51\" style=\"stop-color:#F5F5F5\" id=\"stop4976-8\"></stop>\n                <stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop4978-2\"></stop>\n            </linearGradient>\n            <linearGradient id=\"SVGID_9_-4\" gradientUnits=\"userSpaceOnUse\" x1=\"12.5002\" y1=\"35.360802\" x2=\"35.020802\"\n                y2=\"35.360802\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                <stop offset=\"0.01\" style=\"stop-color:#669999\" id=\"stop4987-2\"></stop>\n                <stop offset=\"0.51\" style=\"stop-color:#99CCCC\" id=\"stop4989-6\"></stop>\n                <stop offset=\"1\" style=\"stop-color:#669999\" id=\"stop4991-7\"></stop>\n            </linearGradient>\n            <linearGradient id=\"SVGID_10_-6\" gradientUnits=\"userSpaceOnUse\" x1=\"12.5002\" y1=\"13.29\" x2=\"35.020802\"\n                y2=\"13.29\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                <stop offset=\"0.01\" style=\"stop-color:#669999\" id=\"stop4996-9\"></stop>\n                <stop offset=\"0.51\" style=\"stop-color:#99CCCC\" id=\"stop4998-9\"></stop>\n                <stop offset=\"1\" style=\"stop-color:#669999\" id=\"stop5000-1\"></stop>\n            </linearGradient>\n        </defs>\n        <g id=\"layer1\" transform=\"matrix(3.365494, 0, 0, 3.630522, -6.137127, -475.877563)\" style=\"\">\n            <g id=\"g-1\" transform=\"matrix(1.061131, 0, 0, 0.875671, 16.912775, 27.509155)\" style=\"\">\n                <g id=\"g5104-1\" transform=\"matrix(0.36219885,0,0,0.56126574,51.982175,155.47281)\">\n                    <g id=\"Group_Volute_Chamber-3\" transform=\"translate(-0.7358142)\">\n                        <path stroke=\"#4c4c4c\" stroke-width=\"0.25\" d=\"m 6.193,65.652 v -42.34 h 35.135 v 42.34 z\"\n                            id=\"test1@cx_color\"></path>\n                        <path fill=\"#99cccc\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 4.843,13.853 1.351,-0.901 h 35.135 l 0.9,0.901 z\" id=\"path4838-7\"></path>\n                        <path fill=\"#336666\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"M 6.193,4.394 9.797,3.493 h 27.927 l 3.604,0.901 z\" id=\"path4840-4\"></path>\n                        <linearGradient id=\"linearGradient5854\" gradientUnits=\"userSpaceOnUse\" x1=\"6.1925998\" y1=\"110.752\"\n                            x2=\"41.3284\" y2=\"110.752\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                            <stop offset=\"0.01\" style=\"stop-color:#669999\" id=\"stop5848\"></stop>\n                            <stop offset=\"0.51\" style=\"stop-color:#99CCCC\" id=\"stop5850\"></stop>\n                            <stop offset=\"1\" style=\"stop-color:#669999\" id=\"stop5852\"></stop>\n                        </linearGradient>\n                        <path fill=\"url(#SVGID_1_)\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"M 6.193,3.493 9.797,0.002 h 27.927 l 3.604,3.491 z\" id=\"path4849-7\"\n                            style=\"fill:url(#SVGID_1_-0)\"></path>\n                        <linearGradient id=\"linearGradient5863\" gradientUnits=\"userSpaceOnUse\" x1=\"6.1925998\" y1=\"103.8262\"\n                            x2=\"41.3274\" y2=\"103.8262\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                            <stop offset=\"0.01\" style=\"stop-color:#669999\" id=\"stop5857\"></stop>\n                            <stop offset=\"0.51\" style=\"stop-color:#99CCCC\" id=\"stop5859\"></stop>\n                            <stop offset=\"1\" style=\"stop-color:#669999\" id=\"stop5861\"></stop>\n                        </linearGradient>\n                        <path fill=\"url(#SVGID_2_)\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"M 6.193,12.952 V 4.394 h 35.135 v 8.558 z\" id=\"path4858-9\" style=\"fill:url(#SVGID_2_-1)\">\n                        </path>\n                        <linearGradient id=\"linearGradient5872\" gradientUnits=\"userSpaceOnUse\" x1=\"4.8429999\" y1=\"93.917\"\n                            x2=\"42.228802\" y2=\"93.917\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                            <stop offset=\"0.01\" style=\"stop-color:#669999\" id=\"stop5866\"></stop>\n                            <stop offset=\"0.51\" style=\"stop-color:#99CCCC\" id=\"stop5868\"></stop>\n                            <stop offset=\"1\" style=\"stop-color:#669999\" id=\"stop5870\"></stop>\n                        </linearGradient>\n                        <path fill=\"url(#SVGID_3_)\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 4.843,13.853 h 37.386 v 9.459 H 4.843 Z\" id=\"path4867-0\" style=\"fill:url(#SVGID_3_-9)\">\n                        </path>\n                    </g>\n                    <g id=\"Group_Drivershaft_Flange-6\" transform=\"translate(-0.7358142)\">\n                        <path fill=\"#669999\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 32.318,59.797 h 0.901 V 23.763 h -0.901 z\" id=\"path4870-5\"></path>\n                        <path fill=\"#669999\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 18.355,59.797 h 1.353 V 23.763 h -1.353 z\" id=\"path4872-7\"></path>\n                        <path fill=\"#669999\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"M 7.094,59.797 H 8.446 V 23.763 H 7.094 Z\" id=\"path4874-8\"></path>\n                        <path fill=\"#99cccc\"\n                            d=\"m 33.67,23.312 h -4.504 l -0.451,-1.013 0.226,-1.014 0.677,-0.901 0.899,-0.563 0.901,-0.112 1.237,0.337 0.788,0.676 0.677,0.901 v 0.338 l -0.338,1.014 z\"\n                            id=\"path4876-0\"></path>\n                        <path fill=\"#99cccc\"\n                            d=\"M 7.545,23.312 H 5.293 v -1.351 l 0.225,-1.014 0.563,-1.013 0.563,-0.225 0.9,0.788 0.45,1.126 v 0.338 l -0.339,1.014 z\"\n                            id=\"path4878-4\"></path>\n                        <path fill=\"#336666\"\n                            d=\"m 33.219,23.312 h -3.604 l -0.45,-0.788 0.338,-1.239 1.013,-0.563 0.901,-0.113 1.237,0.451 0.563,0.901 v 0.45 z\"\n                            id=\"path4880-0\"></path>\n                        <path fill=\"#336666\"\n                            d=\"M 7.545,23.312 H 5.743 L 5.293,22.411 5.518,21.285 6.419,20.609 H 6.645 6.87 l 0.676,1.014 v 0.788 z\"\n                            id=\"path4882-2\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"M 4.843,59.797 H 6.194 V 23.763 H 4.843 Z\" id=\"path4884-2\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 9.346,59.797 h 1.353 V 23.763 H 9.346 Z\" id=\"path4886-6\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 11.598,59.797 h 1.353 V 23.763 h -1.353 z\" id=\"path4888-8\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 13.85,59.797 h 1.353 V 23.763 H 13.85 Z\" id=\"path4890-1\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 16.103,59.797 h 1.352 V 23.763 h -1.352 z\" id=\"path4892-8\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"M 20.607,59.797 H 21.96 V 23.763 h -1.353 z\" id=\"path4894-4\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 22.859,59.797 h 1.353 V 23.763 h -1.353 z\" id=\"path4896-5\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 25.562,59.797 h 0.9 V 23.763 h -0.9 z\" id=\"path4898-7\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 27.814,59.797 h 0.9 V 23.763 h -0.9 z\" id=\"path4900-7\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 30.066,59.797 h 0.901 V 23.763 h -0.901 z\" id=\"path4902-9\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 34.571,59.797 h 0.9 V 23.763 h -0.9 z\" id=\"path4904-1\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 36.823,59.797 h 0.899 V 23.763 h -0.899 z\" id=\"path4906-2\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 39.075,59.797 h 0.9 V 23.763 h -0.9 z\" id=\"path4908-5\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 41.327,59.797 h 0.9 V 23.763 h -0.9 z\" id=\"path4910-4\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 32.318,22.862 h -2.252 l 0.227,-1.239 0.788,-0.563 h 0.338 l 0.899,0.788 v 0.563 z\"\n                            id=\"path4912-9\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"M 7.094,22.862 H 5.743 l 0.226,-1.239 0.676,-0.563 0.45,1.126 v 0.225 z\" id=\"path4914-5\">\n                        </path>\n                        <path fill=\"none\" stroke=\"#336666\" stroke-width=\"0.25\" d=\"M 42.228,59.797 V 23.763\" id=\"path4916-1\">\n                        </path>\n                    </g>\n                    <g id=\"Group_Float_Switches-6\" transform=\"translate(-0.7358142)\">\n                        <path fill=\"#669999\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"M 9.797,53.041 4.843,52.591 V 34.123 l 4.954,-0.451 z\" id=\"path4919-4\"></path>\n                        <path fill=\"#336666\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 9.797,53.041 h 0.451 V 33.672 H 9.797 Z\" id=\"path4921-2\"></path>\n                        <path fill=\"#669999\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"M 7.094,50.338 0.337,49.888 0,48.987 0.338,38.627 H 7.995 L 6.644,49.438 Z\" id=\"path4923-6\">\n                        </path>\n                        <path fill=\"#99cccc\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"M 7.995,38.627 12.5,37.726 H 4.391 l -4.054,0.901 z\" id=\"path4925-4\"></path>\n                        <path fill=\"#336666\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"M 0.338,49.888 0,48.987 6.645,49.438 7.997,38.627 12.502,37.726 v 0.901 l -0.451,0.45 v 10.36 0.45 l -4.954,0.45 z\"\n                            id=\"path4927-4\"></path>\n                        <path fill=\"#003333\" d=\"M 7.094,49.888 0.337,49.438 0,48.987 6.645,49.438 12.049,38.177 H 12.5 Z\"\n                            id=\"path4929-9\"></path>\n                        <path fill=\"#99cccc\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 32.318,26.465 h 1.353 v 29.729 h -1.353 z\" id=\"path4931-2\"></path>\n                        <path fill=\"#b2b2b2\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"M 31.868,32.771 H 34.12 V 48.536 H 31.868 Z\" id=\"path4933-6\"></path>\n                        <path fill=\"#990000\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 31.868,33.222 h 2.252 v 5.855 h -2.252 z\" id=\"path4935-5\"></path>\n                    </g>\n                    <g id=\"Group_Sump_Tank-5\" transform=\"translate(-0.7358142)\">\n                        <linearGradient id=\"linearGradient5917\" gradientUnits=\"userSpaceOnUse\" x1=\"5.2932\" y1=\"35.586899\"\n                            x2=\"41.7766\" y2=\"35.586899\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                            <stop offset=\"0.01\" style=\"stop-color:#4D4D4D\" id=\"stop5911\"></stop>\n                            <stop offset=\"0.51\" style=\"stop-color:#F5F5F5\" id=\"stop5913\"></stop>\n                            <stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop5915\"></stop>\n                        </linearGradient>\n                        <path fill=\"url(#SVGID_4_)\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"M 5.293,67.904 H 41.776 V 85.922 H 5.293 Z\" id=\"test1@cx_color\"\n                            style=\"fill:url(#SVGID_4_-3)\"></path>\n                        <linearGradient id=\"linearGradient5926\" gradientUnits=\"userSpaceOnUse\" x1=\"4.8429999\" y1=\"45.721699\"\n                            x2=\"42.228802\" y2=\"45.721699\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                            <stop offset=\"0.01\" style=\"stop-color:#4D4D4D\" id=\"stop5920\"></stop>\n                            <stop offset=\"0.51\" style=\"stop-color:#F5F5F5\" id=\"stop5922\"></stop>\n                            <stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop5924\"></stop>\n                        </linearGradient>\n                        <path fill=\"url(#SVGID_5_)\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 4.843,65.652 h 37.386 v 2.252 H 4.843 Z\" id=\"path4954-8\" style=\"fill:url(#SVGID_5_-5)\">\n                        </path>\n                        <linearGradient id=\"linearGradient5935\" gradientUnits=\"userSpaceOnUse\" x1=\"4.8429999\" y1=\"25.226601\"\n                            x2=\"42.228802\" y2=\"25.226601\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                            <stop offset=\"0.01\" style=\"stop-color:#4D4D4D\" id=\"stop5929\"></stop>\n                            <stop offset=\"0.51\" style=\"stop-color:#F5F5F5\" id=\"stop5931\"></stop>\n                            <stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop5933\"></stop>\n                        </linearGradient>\n                        <path fill=\"url(#SVGID_6_)\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 4.843,85.922 h 37.386 v 2.703 H 4.843 Z\" id=\"path4963-6\" style=\"fill:url(#SVGID_6_-4)\">\n                        </path>\n                        <linearGradient id=\"linearGradient5944\" gradientUnits=\"userSpaceOnUse\" x1=\"5.2932\" y1=\"13.0645\"\n                            x2=\"41.7766\" y2=\"13.0645\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                            <stop offset=\"0.01\" style=\"stop-color:#4D4D4D\" id=\"stop5938\"></stop>\n                            <stop offset=\"0.51\" style=\"stop-color:#F5F5F5\" id=\"stop5940\"></stop>\n                            <stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop5942\"></stop>\n                        </linearGradient>\n                        <path fill=\"url(#SVGID_7_)\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 5.293,88.625 h 36.483 v 21.621 H 5.293 Z\" id=\"test1@cx_color\"\n                            style=\"fill:url(#SVGID_7_-0)\"></path>\n                        <linearGradient id=\"linearGradient5953\" gradientUnits=\"userSpaceOnUse\" x1=\"4.8429999\" y1=\"1.1279\"\n                            x2=\"42.228802\" y2=\"1.1279\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                            <stop offset=\"0.01\" style=\"stop-color:#4D4D4D\" id=\"stop5947\"></stop>\n                            <stop offset=\"0.51\" style=\"stop-color:#F5F5F5\" id=\"stop5949\"></stop>\n                            <stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop5951\"></stop>\n                        </linearGradient>\n                        <path fill=\"url(#SVGID_8_)\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 4.843,110.246 h 37.386 v 2.252 H 4.843 Z\" id=\"path4981-5\" style=\"fill:url(#SVGID_8_-4)\">\n                        </path>\n                        <path fill=\"#336666\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 12.95,108.895 -2.252,-2.252 V 91.777 l 2.252,-2.252 h 21.17 l 2.253,2.252 v 14.865 l -2.253,2.252 H 12.95 Z\"\n                            id=\"test1@cx_color\"></path>\n                        <path fill=\"#336666\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"M 12.95,85.021 10.698,82.769 V 71.508 l 2.252,-2.252 h 21.17 l 2.253,2.252 V 82.77 L 34.12,85.022 H 12.95 Z\"\n                            id=\"test1@cx_color\"></path>\n                        <linearGradient id=\"linearGradient5964\" gradientUnits=\"userSpaceOnUse\" x1=\"12.5002\" y1=\"35.360802\"\n                            x2=\"35.020802\" y2=\"35.360802\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                            <stop offset=\"0.01\" style=\"stop-color:#669999\" id=\"stop5958\"></stop>\n                            <stop offset=\"0.51\" style=\"stop-color:#99CCCC\" id=\"stop5960\"></stop>\n                            <stop offset=\"1\" style=\"stop-color:#669999\" id=\"stop5962\"></stop>\n                        </linearGradient>\n                        <path fill=\"url(#SVGID_9_)\"\n                            d=\"M 14.752,83.22 12.5,80.967 v -7.656 l 2.252,-2.252 h 17.565 l 2.703,2.252 v 7.656 l -2.703,2.253 z\"\n                            id=\"test1@cx_color\" style=\"fill:url(#SVGID_9_-4)\"></path>\n                        <linearGradient id=\"linearGradient5973\" gradientUnits=\"userSpaceOnUse\" x1=\"12.5002\" y1=\"13.29\"\n                            x2=\"35.020802\" y2=\"13.29\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                            <stop offset=\"0.01\" style=\"stop-color:#669999\" id=\"stop5967\"></stop>\n                            <stop offset=\"0.51\" style=\"stop-color:#99CCCC\" id=\"stop5969\"></stop>\n                            <stop offset=\"1\" style=\"stop-color:#669999\" id=\"stop5971\"></stop>\n                        </linearGradient>\n                        <path fill=\"url(#SVGID_10_)\"\n                            d=\"M 14.752,107.093 12.5,104.84 V 93.58 l 2.252,-2.253 h 17.565 l 2.703,2.253 v 11.26 l -2.703,2.253 z\"\n                            id=\"test1@cx_color\" style=\"fill:url(#SVGID_10_-6)\"></path>\n                    </g>\n                </g>\n                <g id=\"g6536\" transform=\"matrix(0.02257634,0,0,0.02839893,31.133296,194.57194)\">\n                    <path style=\"fill:#5c6666\" d=\"M 4,5 H 994 V 252 H 4 Z\" id=\"path6503\"></path>\n                    <path style=\"fill:#757f7f\" d=\"M 4,20 H 994 V 237 H 4 Z\" id=\"path6505\"></path>\n                    <path style=\"fill:#919999\" d=\"M 4,41 H 994 V 216 H 4 Z\" id=\"path6507\"></path>\n                    <path style=\"fill:#aab2b2\" d=\"M 4,56 H 994 V 200 H 4 Z\" id=\"path6509\"></path>\n                    <path style=\"fill:#c7cccc\" d=\"M 4,66 H 994 V 190 H 4 Z\" id=\"path6511\"></path>\n                    <path style=\"fill:#e0e5e5\" d=\"M 4,77 H 994 V 180 H 4 Z\" id=\"path6513\"></path>\n                    <path style=\"fill:#fcffff\" d=\"m 4,92 h 990 v 72 H 4 Z\" id=\"path6515\"></path>\n                    <path style=\"fill:none;stroke:#4c4c4c;stroke-width:2\" d=\"M 4,4 H 994\" id=\"path6517\"></path>\n                    <path style=\"fill:none;stroke:#4c4c4c;stroke-width:2\" d=\"M 4,252 H 994\" id=\"path6519\"></path>\n                </g>\n                <g id=\"g5104\" transform=\"matrix(-0.36219886,0,0,0.56126574,33.113046,155.83669)\">\n                    <g id=\"Group_Volute_Chamber\">\n                        <path stroke=\"#4c4c4c\" stroke-width=\"0.25\" d=\"m 6.193,65.652 v -42.34 h 35.135 v 42.34 z\"\n                            id=\"test2@cx_color\"></path>\n                        <path fill=\"#99cccc\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 4.843,13.853 1.351,-0.901 h 35.135 l 0.9,0.901 z\" id=\"path4838\"></path>\n                        <path fill=\"#336666\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"M 6.193,4.394 9.797,3.493 h 27.927 l 3.604,0.901 z\" id=\"path4840\"></path>\n                        <linearGradient id=\"SVGID_1_\" gradientUnits=\"userSpaceOnUse\" x1=\"6.1925998\" y1=\"110.752\"\n                            x2=\"41.3284\" y2=\"110.752\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                            <stop offset=\"0.01\" style=\"stop-color:#669999\" id=\"stop4842\"></stop>\n                            <stop offset=\"0.51\" style=\"stop-color:#99CCCC\" id=\"stop4844\"></stop>\n                            <stop offset=\"1\" style=\"stop-color:#669999\" id=\"stop4846\"></stop>\n                        </linearGradient>\n                        <path fill=\"url(#SVGID_1_)\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"M 6.193,3.493 9.797,0.002 h 27.927 l 3.604,3.491 z\" id=\"path4849\"\n                            style=\"fill:url(#SVGID_1_)\"></path>\n                        <linearGradient id=\"SVGID_2_\" gradientUnits=\"userSpaceOnUse\" x1=\"6.1925998\" y1=\"103.8262\"\n                            x2=\"41.3274\" y2=\"103.8262\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                            <stop offset=\"0.01\" style=\"stop-color:#669999\" id=\"stop4851\"></stop>\n                            <stop offset=\"0.51\" style=\"stop-color:#99CCCC\" id=\"stop4853\"></stop>\n                            <stop offset=\"1\" style=\"stop-color:#669999\" id=\"stop4855\"></stop>\n                        </linearGradient>\n                        <path fill=\"url(#SVGID_2_)\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"M 6.193,12.952 V 4.394 h 35.135 v 8.558 z\" id=\"path4858\" style=\"fill:url(#SVGID_2_)\"></path>\n                        <linearGradient id=\"SVGID_3_\" gradientUnits=\"userSpaceOnUse\" x1=\"4.8429999\" y1=\"93.917\"\n                            x2=\"42.228802\" y2=\"93.917\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                            <stop offset=\"0.01\" style=\"stop-color:#669999\" id=\"stop4860\"></stop>\n                            <stop offset=\"0.51\" style=\"stop-color:#99CCCC\" id=\"stop4862\"></stop>\n                            <stop offset=\"1\" style=\"stop-color:#669999\" id=\"stop4864\"></stop>\n                        </linearGradient>\n                        <path fill=\"url(#SVGID_3_)\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 4.843,13.853 h 37.386 v 9.459 H 4.843 Z\" id=\"path4867\" style=\"fill:url(#SVGID_3_)\"></path>\n                    </g>\n                    <g id=\"Group_Drivershaft_Flange\">\n                        <path fill=\"#669999\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 32.318,59.797 h 0.901 V 23.763 h -0.901 z\" id=\"path4870\"></path>\n                        <path fill=\"#669999\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 18.355,59.797 h 1.353 V 23.763 h -1.353 z\" id=\"path4872\"></path>\n                        <path fill=\"#669999\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"M 7.094,59.797 H 8.446 V 23.763 H 7.094 Z\" id=\"path4874\"></path>\n                        <path fill=\"#99cccc\"\n                            d=\"m 33.67,23.312 h -4.504 l -0.451,-1.013 0.226,-1.014 0.677,-0.901 0.899,-0.563 0.901,-0.112 1.237,0.337 0.788,0.676 0.677,0.901 v 0.338 l -0.338,1.014 z\"\n                            id=\"path4876\"></path>\n                        <path fill=\"#99cccc\"\n                            d=\"M 7.545,23.312 H 5.293 v -1.351 l 0.225,-1.014 0.563,-1.013 0.563,-0.225 0.9,0.788 0.45,1.126 v 0.338 l -0.339,1.014 z\"\n                            id=\"path4878\"></path>\n                        <path fill=\"#336666\"\n                            d=\"m 33.219,23.312 h -3.604 l -0.45,-0.788 0.338,-1.239 1.013,-0.563 0.901,-0.113 1.237,0.451 0.563,0.901 v 0.45 z\"\n                            id=\"path4880\"></path>\n                        <path fill=\"#336666\"\n                            d=\"M 7.545,23.312 H 5.743 L 5.293,22.411 5.518,21.285 6.419,20.609 H 6.645 6.87 l 0.676,1.014 v 0.788 z\"\n                            id=\"path4882\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"M 4.843,59.797 H 6.194 V 23.763 H 4.843 Z\" id=\"path4884\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 9.346,59.797 h 1.353 V 23.763 H 9.346 Z\" id=\"path4886\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 11.598,59.797 h 1.353 V 23.763 h -1.353 z\" id=\"path4888\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 13.85,59.797 h 1.353 V 23.763 H 13.85 Z\" id=\"path4890\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 16.103,59.797 h 1.352 V 23.763 h -1.352 z\" id=\"path4892\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"M 20.607,59.797 H 21.96 V 23.763 h -1.353 z\" id=\"path4894\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 22.859,59.797 h 1.353 V 23.763 h -1.353 z\" id=\"path4896\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 25.562,59.797 h 0.9 V 23.763 h -0.9 z\" id=\"path4898\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 27.814,59.797 h 0.9 V 23.763 h -0.9 z\" id=\"path4900\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 30.066,59.797 h 0.901 V 23.763 h -0.901 z\" id=\"path4902\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 34.571,59.797 h 0.9 V 23.763 h -0.9 z\" id=\"path4904\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 36.823,59.797 h 0.899 V 23.763 h -0.899 z\" id=\"path4906\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 39.075,59.797 h 0.9 V 23.763 h -0.9 z\" id=\"path4908\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 41.327,59.797 h 0.9 V 23.763 h -0.9 z\" id=\"path4910\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 32.318,22.862 h -2.252 l 0.227,-1.239 0.788,-0.563 h 0.338 l 0.899,0.788 v 0.563 z\"\n                            id=\"path4912\"></path>\n                        <path fill=\"#003333\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"M 7.094,22.862 H 5.743 l 0.226,-1.239 0.676,-0.563 0.45,1.126 v 0.225 z\" id=\"path4914\">\n                        </path>\n                        <path fill=\"none\" stroke=\"#336666\" stroke-width=\"0.25\" d=\"M 42.228,59.797 V 23.763\" id=\"path4916\">\n                        </path>\n                    </g>\n                    <g id=\"Group_Float_Switches\">\n                        <path fill=\"#669999\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"M 9.797,53.041 4.843,52.591 V 34.123 l 4.954,-0.451 z\" id=\"path4919\"></path>\n                        <path fill=\"#336666\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 9.797,53.041 h 0.451 V 33.672 H 9.797 Z\" id=\"path4921\"></path>\n                        <path fill=\"#669999\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"M 7.094,50.338 0.337,49.888 0,48.987 0.338,38.627 H 7.995 L 6.644,49.438 Z\" id=\"path4923\">\n                        </path>\n                        <path fill=\"#99cccc\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"M 7.995,38.627 12.5,37.726 H 4.391 l -4.054,0.901 z\" id=\"path4925\"></path>\n                        <path fill=\"#336666\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"M 0.338,49.888 0,48.987 6.645,49.438 7.997,38.627 12.502,37.726 v 0.901 l -0.451,0.45 v 10.36 0.45 l -4.954,0.45 z\"\n                            id=\"path4927\"></path>\n                        <path fill=\"#003333\" d=\"M 7.094,49.888 0.337,49.438 0,48.987 6.645,49.438 12.049,38.177 H 12.5 Z\"\n                            id=\"path4929\"></path>\n                        <path fill=\"#99cccc\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 32.318,26.465 h 1.353 v 29.729 h -1.353 z\" id=\"path4931\"></path>\n                        <path fill=\"#b2b2b2\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"M 31.868,32.771 H 34.12 V 48.536 H 31.868 Z\" id=\"path4933\"></path>\n                        <path fill=\"#990000\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 31.868,33.222 h 2.252 v 5.855 h -2.252 z\" id=\"path4935\"></path>\n                    </g>\n                    <g id=\"Group_Sump_Tank\">\n                        <linearGradient id=\"SVGID_4_\" gradientUnits=\"userSpaceOnUse\" x1=\"5.2932\" y1=\"35.586899\" x2=\"41.7766\"\n                            y2=\"35.586899\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                            <stop offset=\"0.01\" style=\"stop-color:#4D4D4D\" id=\"stop4938\"></stop>\n                            <stop offset=\"0.51\" style=\"stop-color:#F5F5F5\" id=\"stop4940\"></stop>\n                            <stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop4942\"></stop>\n                        </linearGradient>\n                        <path fill=\"url(#SVGID_4_)\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"M 5.293,67.904 H 41.776 V 85.922 H 5.293 Z\" id=\"test2@cx_color\" style=\"fill:url(#SVGID_4_)\">\n                        </path>\n                        <linearGradient id=\"SVGID_5_\" gradientUnits=\"userSpaceOnUse\" x1=\"4.8429999\" y1=\"45.721699\"\n                            x2=\"42.228802\" y2=\"45.721699\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                            <stop offset=\"0.01\" style=\"stop-color:#4D4D4D\" id=\"stop4947\"></stop>\n                            <stop offset=\"0.51\" style=\"stop-color:#F5F5F5\" id=\"stop4949\"></stop>\n                            <stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop4951\"></stop>\n                        </linearGradient>\n                        <path fill=\"url(#SVGID_5_)\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 4.843,65.652 h 37.386 v 2.252 H 4.843 Z\" id=\"path4954\" style=\"fill:url(#SVGID_5_)\"></path>\n                        <linearGradient id=\"SVGID_6_\" gradientUnits=\"userSpaceOnUse\" x1=\"4.8429999\" y1=\"25.226601\"\n                            x2=\"42.228802\" y2=\"25.226601\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                            <stop offset=\"0.01\" style=\"stop-color:#4D4D4D\" id=\"stop4956\"></stop>\n                            <stop offset=\"0.51\" style=\"stop-color:#F5F5F5\" id=\"stop4958\"></stop>\n                            <stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop4960\"></stop>\n                        </linearGradient>\n                        <path fill=\"url(#SVGID_6_)\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 4.843,85.922 h 37.386 v 2.703 H 4.843 Z\" id=\"path4963\" style=\"fill:url(#SVGID_6_)\"></path>\n                        <linearGradient id=\"SVGID_7_\" gradientUnits=\"userSpaceOnUse\" x1=\"5.2932\" y1=\"13.0645\" x2=\"41.7766\"\n                            y2=\"13.0645\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                            <stop offset=\"0.01\" style=\"stop-color:#4D4D4D\" id=\"stop4965\"></stop>\n                            <stop offset=\"0.51\" style=\"stop-color:#F5F5F5\" id=\"stop4967\"></stop>\n                            <stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop4969\"></stop>\n                        </linearGradient>\n                        <path fill=\"url(#SVGID_7_)\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 5.293,88.625 h 36.483 v 21.621 H 5.293 Z\" id=\"path4972\" style=\"fill:url(#SVGID_7_)\"></path>\n                        <linearGradient id=\"SVGID_8_\" gradientUnits=\"userSpaceOnUse\" x1=\"4.8429999\" y1=\"1.1279\"\n                            x2=\"42.228802\" y2=\"1.1279\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                            <stop offset=\"0.01\" style=\"stop-color:#4D4D4D\" id=\"stop4974\"></stop>\n                            <stop offset=\"0.51\" style=\"stop-color:#F5F5F5\" id=\"stop4976\"></stop>\n                            <stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop4978\"></stop>\n                        </linearGradient>\n                        <path fill=\"url(#SVGID_8_)\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 4.843,110.246 h 37.386 v 2.252 H 4.843 Z\" id=\"path4981\" style=\"fill:url(#SVGID_8_)\"></path>\n                        <path fill=\"#336666\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"m 12.95,108.895 -2.252,-2.252 V 91.777 l 2.252,-2.252 h 21.17 l 2.253,2.252 v 14.865 l -2.253,2.252 H 12.95 Z\"\n                            id=\"test2@cx_color\"></path>\n                        <path fill=\"#336666\" stroke=\"#4c4c4c\" stroke-width=\"0.25\"\n                            d=\"M 12.95,85.021 10.698,82.769 V 71.508 l 2.252,-2.252 h 21.17 l 2.253,2.252 V 82.77 L 34.12,85.022 H 12.95 Z\"\n                            id=\"test2@cx_color\"></path>\n                        <linearGradient id=\"SVGID_9_\" gradientUnits=\"userSpaceOnUse\" x1=\"12.5002\" y1=\"35.360802\"\n                            x2=\"35.020802\" y2=\"35.360802\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                            <stop offset=\"0.01\" style=\"stop-color:#669999\" id=\"stop4987\"></stop>\n                            <stop offset=\"0.51\" style=\"stop-color:#99CCCC\" id=\"stop4989\"></stop>\n                            <stop offset=\"1\" style=\"stop-color:#669999\" id=\"stop4991\"></stop>\n                        </linearGradient>\n                        <path fill=\"url(#SVGID_9_)\"\n                            d=\"M 14.752,83.22 12.5,80.967 v -7.656 l 2.252,-2.252 h 17.565 l 2.703,2.252 v 7.656 l -2.703,2.253 z\"\n                            id=\"test2@cx_color\" style=\"fill:url(#SVGID_9_)\"></path>\n                        <linearGradient id=\"SVGID_10_\" gradientUnits=\"userSpaceOnUse\" x1=\"12.5002\" y1=\"13.29\" x2=\"35.020802\"\n                            y2=\"13.29\" gradientTransform=\"matrix(1,0,0,-1,0,112.5)\">\n                            <stop offset=\"0.01\" style=\"stop-color:#669999\" id=\"stop4996\"></stop>\n                            <stop offset=\"0.51\" style=\"stop-color:#99CCCC\" id=\"stop4998\"></stop>\n                            <stop offset=\"1\" style=\"stop-color:#669999\" id=\"stop5000\"></stop>\n                        </linearGradient>\n                        <path fill=\"url(#SVGID_10_)\"\n                            d=\"M 14.752,107.093 12.5,104.84 V 93.58 l 2.252,-2.253 h 17.565 l 2.703,2.253 v 11.26 l -2.703,2.253 z\"\n                            id=\"test2@cx_color\" style=\"fill:url(#SVGID_10_)\"></path>\n                    </g>\n                </g>\n            </g>\n        </g>\n    </svg>\n\n\n\n\n\n\n\n\n    <!-- SVG FILE CONTENT ABOVE -->\n\n    <script>\n        (function($scope) {\n            const cxMove = \"cx_move\";\n            const cxColor = \"cx_color\";\n            const cxStatus = \"cx_status\";\n            const cxHide = \"cx_color\";\n            const cxStroke = \"cx_stroke\";\n            const maxStatusLength = 12;\n\n\n            $scope.checkSVG = function() {\n\n                if (!$scope.graphicObjects) {\n                    $scope.graphicObjects = [];\n                }\n                recursiveEach($(\"#graphics\"), $scope.graphicObjects);\n                // console.log($scope.graphicObjects);\n\n                function recursiveEach(element, container){\n                    element.children().each(function () {\n                        const $currentElement = $(this);\n                        if (this.id && this.id.indexOf('@') > 0) {\n                            container.push({\n                                id: this.id,\n                                element: $currentElement,\n                                cxMove: (this.id.indexOf(cxMove) > 0),\n                                cxColor: (this.id.indexOf(cxColor) > 0),\n                                cxStatus: (this.id.indexOf(cxStatus) > 0),\n                                cxHide: (this.id.indexOf(cxHide) > 0),\n                                cxStroke: (this.id.indexOf(cxStroke) > 0),\n                            });\n                        }\n                        recursiveEach($currentElement, container);\n                    });\n                }\n            };\n\n            $scope.$watch('msg', function() {\n                if (!$scope.msg) return;\n\n                if (Array.isArray($scope.msg.payload)) {\n                    for (let aReq of $scope.msg.payload) {\n                        animateObject(aReq.payload, aReq.topic);\n                    }\n                } else {\n                    animateObject($scope.msg.payload, $scope.msg.topic);\n                }\n            });\n\n            function animateObject(payload, topic) {\n\n                if (payload === undefined || payload === null ||\n                    !topic || typeof topic !== 'string' || !topic.includes('@')) return;\n\n                const id = topic.split('@')[0], cxType = topic.split('@')[1];\n\n                for (const graphicObject of $scope.graphicObjects) {\n                    const objId = graphicObject.id.split('@')[0];\n                    if (objId !== id || graphicObject.id.indexOf(cxType) === -1) continue;\n\n                    if (cxType === cxColor && graphicObject.cxColor && typeof payload === 'string') {\n\n                        graphicObject.element.css({fill : payload});\n\n                    } else if (cxType === cxStatus && graphicObject.cxStatus && typeof payload === 'string') {\n                        const statusText = (payload.length > maxStatusLength) ?\n                            payload.substring(0, maxStatusLength - 3) + '...' : payload;\n\n                        graphicObject.element.text(statusText);\n\n                    } else if (cxType === cxHide && graphicObject.cxHide && typeof payload === 'boolean') {\n                        const displayAttr = (payload)? 'none' : '';\n                        graphicObject.element.css({display: displayAttr})\n\n                    } else if (cxType === cxMove && graphicObject.cxMove) {\n                        // box = SVGRect {x: 51.95399475097656, y: 54.69599914550781, width: 94.41000366210938, height: 94.41000366210938}\n                        const box = graphicObject.element[0].getBBox();\n                        const matrix = getMatrix(payload, box);\n                        if (matrix) graphicObject.element.attr('transform', matrix);\n\n                    } else if (cxType === cxStroke && graphicObject.cxStroke) {\n                        // const displayAttr = (payload)? 'none' : '';\n                        if (payload.color != null) graphicObject.element.css({stroke: payload.color});\n                        if (payload.width != null) graphicObject.element.css({[\"stroke-width\"]: payload.width});\n                    }\n                }\n            }\n\n\n            function getMatrix(config, box) {\n                if (!config || !box) return;\n\n                // translation\n                const tx = config.x || 0;\n                const ty = config.y || 0;\n                // angle in radians\n                const rads = config.deg * (Math.PI / 180) || 0;\n                // rotation centre\n                // box = { x: 51.95399475097656, y: 54.69599914550781, width: 94.41000366210938, height: 94.41000366210938 }\n                const pivot_x = (config.pivot && config.pivot[0])? config.pivot[0] : 0;\n                const pivot_y = (config.pivot && config.pivot[1])? config.pivot[1] : 0;\n                const cx = box.x + box.width * ( (pivot_x)? pivot_x : 0.5 );\n                const cy = box.y + box.height * ( (pivot_y)? pivot_y : 0 );\n                // scaling\n                const sx = 1;\n                const sy = 1;\n\n                // matrix(0.594088, -0.516432, 0.62601, 0.720144, -223.586029, 145.949615)\n                return 'matrix(' +\n                    (sx * Math.cos(rads)) + ', ' + (sy * Math.sin(rads)) + ', ' +\n                    (-sx * Math.sin(rads)) + ', ' + (sy * Math.cos(rads)) + ', ' +\n                    ((-Math.cos(rads) * cx + Math.sin(rads) * cy + cx) * sx + tx) + ', ' +\n                    ((-Math.sin(rads) * cx - Math.cos(rads) * cy + cy) * sy + ty) + ')';\n            }\n\n        })(scope);\n    </script>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 460,
        "y": 300,
        "wires": [
            [
                "382b566ae22f2d8b"
            ]
        ]
    },
    {
        "id": "c993ed2d43262a71",
        "type": "function",
        "z": "03b2273591e7b1b7",
        "name": "M1 Function",
        "func": "/*\nreturn {\n    payload: msg.payload,\n    topic: \"test@cx_hide\"\n}\n*/\n\n\nreturn {\n    payload: (msg.payload) ? \"#ef0000\": \"#669999\",\n    topic: \"test1@cx_color\"\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 300,
        "wires": [
            [
                "64ee870787f20d8c",
                "23875aeeea09538c"
            ]
        ]
    },
    {
        "id": "a57bf79b60d34d35",
        "type": "ui_switch",
        "z": "03b2273591e7b1b7",
        "name": "",
        "label": "M1 On Off",
        "tooltip": "",
        "group": "291b967e0275382d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "c993ed2d43262a71",
                "9ad19aed08251f32"
            ]
        ]
    },
    {
        "id": "9ad19aed08251f32",
        "type": "debug",
        "z": "03b2273591e7b1b7",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 140,
        "y": 220,
        "wires": []
    },
    {
        "id": "23875aeeea09538c",
        "type": "debug",
        "z": "03b2273591e7b1b7",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 220,
        "wires": []
    },
    {
        "id": "382b566ae22f2d8b",
        "type": "debug",
        "z": "03b2273591e7b1b7",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 220,
        "wires": []
    },
    {
        "id": "16907bf15d989a8b",
        "type": "inject",
        "z": "03b2273591e7b1b7",
        "name": "Number of loops",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 120,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "4dd902f9c5c03607",
        "type": "function",
        "z": "03b2273591e7b1b7",
        "name": "",
        "func": "let loops = context.get(\"loops\") || 1;\nif (msg.topic !== \"running\"){\n    context.set(\"loops\", 0);\n    msg.topic = \"running\";\n    return [msg, msg]\n} else  {\n    if (msg.payload == true)\n    {\n        if (context.get(\"loops\") == 0) {\n            msg.payload = \"true\";\n            context.set(\"loops\", 1);\n        }\n        else {\n            msg.payload = \"false\";\n            context.set(\"loops\", 0);\n        }\n    }\n\n\n    return [msg, msg];\n} \n\n\n//let loops = context.get(\"loops\") || 1;\n//if (msg.topic !== \"running\") {\n//    context.set(\"loops\", msg.payload - 1);\n//    msg.topic = \"running\";\n//    return [msg, msg]\n//} else if (loops !== 1) {\n//    msg.payload = loops;\n//    context.set(\"loops\", loops - 1);\n//    return [msg, msg];\n//} else {\n//    msg.payload = loops;\n//    return [msg, null];\n//}\n//return msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 560,
        "wires": [
            [
                "deaf8836288f3dec",
                "78a87c53455f4df2"
            ],
            [
                "3bb18304255b1ed7"
            ]
        ]
    },
    {
        "id": "3bb18304255b1ed7",
        "type": "delay",
        "z": "03b2273591e7b1b7",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 330,
        "y": 620,
        "wires": [
            [
                "4dd902f9c5c03607"
            ]
        ]
    },
    {
        "id": "2c06abf2dc75f813",
        "type": "debug",
        "z": "03b2273591e7b1b7",
        "name": "db2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 540,
        "wires": []
    },
    {
        "id": "deaf8836288f3dec",
        "type": "function",
        "z": "03b2273591e7b1b7",
        "name": "str_to_bool",
        "func": "if (msg.payload==\"true\"){\n    msg.payload = true;\n}\nelse if (msg.payload == \"false\"){\n    msg.payload = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 480,
        "wires": [
            [
                "2c06abf2dc75f813",
                "1af1f00debd496b5"
            ]
        ]
    },
    {
        "id": "78a87c53455f4df2",
        "type": "debug",
        "z": "03b2273591e7b1b7",
        "name": "db1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 440,
        "wires": []
    },
    {
        "id": "c43dcb3927089167",
        "type": "debug",
        "z": "03b2273591e7b1b7",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 380,
        "wires": []
    },
    {
        "id": "fdff5d7d.9e8ce8",
        "type": "inject",
        "z": "5331bb12.a5ac24",
        "name": "Number of loops",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 270,
        "y": 140,
        "wires": [
            [
                "45f326c3.1fde28",
                "f69e77bac2ad96d3"
            ]
        ]
    },
    {
        "id": "45f326c3.1fde28",
        "type": "function",
        "z": "5331bb12.a5ac24",
        "name": "",
        "func": "let loops = context.get(\"loops\") || 1;\nif (msg.topic !== \"running\"){\n    if (context.get(\"loops\")==1){\n        context.set(\"loops\",0);\n        msg.payload = \"false\";\n    }\n    else {\n        context.set(\"loops\", 1);\n        msg.payload = \"true\";\n    }\n    msg.topic = \"running\";\n    return [msg, msg]\n}// else if (loops !== 1) {\n  //  msg.payload = loops;\n  //  context.set(\"loops\", loops - 1);\n  //  return [msg, msg];\n//} \nelse {\n    msg.payload = loops;\n    return [msg, null];\n}\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 140,
        "wires": [
            [
                "cbc26d74.e76d08"
            ],
            [
                "63da4291.62cc44"
            ]
        ]
    },
    {
        "id": "63da4291.62cc44",
        "type": "delay",
        "z": "5331bb12.a5ac24",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 480,
        "y": 200,
        "wires": [
            [
                "45f326c3.1fde28"
            ]
        ]
    },
    {
        "id": "cbc26d74.e76d08",
        "type": "debug",
        "z": "5331bb12.a5ac24",
        "name": "end",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "f69e77bac2ad96d3",
        "type": "debug",
        "z": "5331bb12.a5ac24",
        "name": "start",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 80,
        "wires": []
    },
    {
        "id": "f51136be48fe9b54",
        "type": "inject",
        "z": "5331bb12.a5ac24",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 210,
        "y": 320,
        "wires": [
            [
                "da573cbe80452394",
                "f95d112f756055ae"
            ]
        ]
    },
    {
        "id": "da573cbe80452394",
        "type": "change",
        "z": "5331bb12.a5ac24",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 320,
        "wires": [
            [
                "eeb9b59ffd7e091e"
            ]
        ]
    },
    {
        "id": "eeb9b59ffd7e091e",
        "type": "delay",
        "z": "5331bb12.a5ac24",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 620,
        "y": 320,
        "wires": [
            [
                "8f3fd9bd5d927d3f",
                "25139cca3150761f"
            ]
        ]
    },
    {
        "id": "8f3fd9bd5d927d3f",
        "type": "change",
        "z": "5331bb12.a5ac24",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 400,
        "wires": [
            [
                "6d80654930eaf595"
            ]
        ]
    },
    {
        "id": "6d80654930eaf595",
        "type": "delay",
        "z": "5331bb12.a5ac24",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 720,
        "y": 400,
        "wires": [
            [
                "da573cbe80452394",
                "780a337d2150bbe9"
            ]
        ]
    },
    {
        "id": "780a337d2150bbe9",
        "type": "debug",
        "z": "5331bb12.a5ac24",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 500,
        "wires": []
    },
    {
        "id": "25139cca3150761f",
        "type": "debug",
        "z": "5331bb12.a5ac24",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 320,
        "wires": []
    },
    {
        "id": "f95d112f756055ae",
        "type": "debug",
        "z": "5331bb12.a5ac24",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 260,
        "wires": []
    }
]